{% extends 'AcmeBlogBundle:layout:base.html.twig' %}

{% block content %}
    <h3>Create new post with comments</h3>
    {{ form_start(form, {'attr': {'class': 'form-horisontal'}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}

        <ul class="tags" data-prototype="
            {{ form_widget(form.comments.vars.prototype)|e('html_attr') }}">
        </ul>

    {{ form_end(form) }}

    <h3>Last 5 Posts
        <h5 class="text-muted">
            <a href="{{ path('acme_index') }}">
                view all
            </a>
        </h5>
    </h3>
    <ul class="list-group">
        {% for post in posts %}

            <li class="list-group-item">
                {{ post.title }}
                <span class="float-right">
                    <a href="{{ path('acme_update', {'id': post.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{{ path('acme_delete', {'id': post.id}) }}" class="btn btn-danger btn-sm">Delete</a>
                </span>
            </li>

        {% endfor %}
    </ul>

{% endblock %}

{% block js %}

    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>

{% endblock %}
